<h2 mat-dialog-title align="center">Parking session details</h2>

<mat-dialog-content class="mat-typography">
      <table class="table">

          <tbody>
            <tr>
              <td>Space name:</td>
              <td>{{ spaceName }}</td>
            </tr>
            <tr>
              <td>Car registration:</td>
              <td>{{ activeSession?.carRegistration }}</td>
            </tr>
            <tr>
              <td>Tariff:</td>
              <td>{{ activeSession?.tariff }}</td>
            </tr>
            <tr>
              <td>Session start:</td>
              <td>{{ formatDate(activeSession?.startTime) }}</td>
            </tr>
            <tr>
              <td>Current parking cost:</td>
              <td>{{ currentCost }}</td>
            </tr>
          </tbody>
        </table>        
</mat-dialog-content>

<br>

<mat-dialog-actions align="center">
  <button mat-flat-button color="primary" (click)="openModifyCarDialog(activeSession?.id)">Edit parked car</button>
  &nbsp;
  <button mat-flat-button color="primary" (click)="finishSession()">Finish session</button>
  &nbsp;
  <button mat-flat-button color="danger" (click)="deleteSession(activeSession?.id)">Discard session</button>
  &nbsp;
  <button mat-flat-button (click)="close()">Back</button>
</mat-dialog-actions>
